doctype html5
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/class.js")
    script(src="/scripts/clases.js")
    script(src="/scripts/utils.js")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/Box2dWeb-2.1.a.3.min.js")
    script(src="/scripts/game.js")
  body
    block content